.NewOrderPage {
    background-color: #adadad;
    border-radius: 2vmin;
}

.NewOrderPageHeader {
    text-align: center;
    color: #501B1D;
    margin: 0 3vmin 3vmin 3vmin;
}

.NewOrderPageBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
}