.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: #2E1114;
}

.OrderDetail .section-heading {
    width: 100%
}

.OrderDetail .line-item-container {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
}

.OrderDetail .total {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 1vmin 0;
    color: #2E1114;
    border-top: .1vmin solid var(--tan-3);
}

.OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: #2E1114;
}

.OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
}

.OrderDetail .thirsty {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
}