.NavBar {
    background-color: #44318D;
    font-weight: bolder;
}

.NavbarBrandText {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.drawer-title {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}